<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>友链管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
  <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
</head>

<body style='padding-top:20px'>
    <div id='app'>
        <h2></h2>


        <div class="layui-form-item">
            <label class="layui-form-label">友链管理：</label>
        </div>


        <fieldset class="layui-elem-field">
            <blockquote class="layui-elem-quote">友链列表</blockquote>
            <div class="layui-form-item"  v-for="(item,index) in link">
                <label class="layui-form-label">链接名称</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" autocomplete="off" class="layui-input" placeholder="请输入名称"
                            v-model="item.name">
                    </div>
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" autocomplete="off" class="layui-input" placeholder="链接地址,请带上http://"
                            v-model="item.url">
                    </div>
                    <div class="layui-input-inline">
                        <a @click='tj(item.id,index)' href="javascript:void(0);" class='layui-btn'>
                            修改</a>
                                <button type="button" class="layui-btn layui-btn-danger "
                                @click='del(item.id)'>删除
                        </button>
                    </div>
                </div>
            </div>

            

            <blockquote class="layui-elem-quote">新增友链</blockquote>
            <div class="layui-form-item">
                <label class="layui-form-label">添加友链</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" autocomplete="off" class="layui-input" placeholder="请输入名称"
                            v-model="arcdata.name">
                    </div>
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" autocomplete="off" class="layui-input" placeholder="链接地址,请带上http://"
                            v-model="arcdata.url">
                    </div>
                    <div class="layui-input-inline">
                        <a @click='tj()' href="javascript:void(0);" class='layui-btn'><i
                                class="layui-icon layui-icon-release"></i> 提交</a>

                    </div>
                </div>
            </div>
           
    </div>




</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                link: {},
                arcdata:{}
            }
        },
        methods: {
            tj(id=0,index=-1) {
                let data=this.arcdata
                if(id!=0){
                    data=this.link[index]
                }
                data.id=id
               // return
                $.post("/admin/addlink",data, function (res, status) {
                if (status == 'success') {
                    layer.msg('成功')
                    setTimeout(function () { window.location.reload(); }, 1000);
                } else {
                    layer.msg('失败')
                }
            });
            }
        }
        ,
        created() {
            let that = this;
            $.get("/admin/link", function (res, status) {
                if (status == 'success') {
                    console.log(res)
                    that.link = res.data
                } else {
                    layer.msg('获取数据失败')
                }
            });
        },

    })



    layui.use(['form', 'layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;



        //监听提交
        //监听提交
        form.on('submit(demo1)', function (data) {
            //console.log(data.field)
            return false;
        });



    });



</script>



</html>